body{
    background-color: #f4f4f4;
    color: #555555;
    font-size: 16px;
    font-weight: normal;
    font-family: Arial, Helvetica, sans-serif;
    /* above 3 in 1 go */
    font: normal
    
    line-height: 1.5em
}
.container{
    width: 250px;
    margin: auto ;
}
a{
    text-decoration: none;
    color: #555555;
}
a:hover{
    font-size: 20px;
    color: aqua;
}

a:active{
    color: red;
}


.box-1{
    background-color: #555555;
    color: #f4f4f4;
    border: 5px red solid;
    
    border-bottom: 15px red solid;
    border-top-style:dotted ;
    padding-left: 20px;

    padding-right: 20px;

    margin-top: 20px;
}
.box-1 h1{
    color: red;
    font-family: Tahoma;
    font-weight: 800;
    font-style: italic;
    text-decoration: underline;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    word-spacing: 1em;
    text-decoration: dotted;


}
.box-2{
    border: 3px dotted #ccc;
    padding: 20px;
    margin: 20px 0 20px 0;
}
.cate{
    border: 1px solid #ccc;
    margin: 0px 10px;
    padding: 10px;
    border-radius: 25px;
    border-bottom-left-radius: 0px;
}
.cate h2{
    text-align: center;
}
.cate ol{
    padding: 7px;
    list-style: square;
    list-style: none;
}
.cate li{
    padding-bottom: 7px;
    border-bottom: dotted 1px #333;
}







