body{
    background-color: #f4f4f4;
    color: #555555;
    font-size: 16px;
    font-weight: normal;
    font-family: Arial, Helvetica, sans-serif;
    /* above 3 in 1 go */
    font: normal
    
    line-height: 1.5em
}
.container{
    width: 250px;
    margin: auto ;
}
.box-1{
    background-color: #555555;
    color: #f4f4f4;
    border: 5px red solid;
    border-bottom: 15px red solid;



    padding-left: 20px;
    padding-right: 20px;
}